<link href="/results.css" rel="stylesheet" type="text/css">

<h1> Results </h1>

<ul>
<% data['Search'].forEach(function(movie) { %>
  <li>
    <strong>
    <%= movie['Title'] %>
  </strong> <br>Year released: <%=movie['Year']%>
  <br><img src="<%= movie['Poster'] %>">
  </li>
<% }) %>
</ul>
